html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

img {
  width: 100%;
}


/*---- class ----*/

.nav_top {
 font-size: 10px;
 display: flex;
 justify-content:right;
}

.botton_container {
  padding: 10px;
}


.speak, i:last-child {
  background-color: #4a4a4a;
  border-radius: 5px;
  padding: 3px;
  display: inline-block;
}



.layout {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}




.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 10px;
  padding: 50px;
  overflow: auto;
}

.card {
  width: 200px;
  height: 120px;
  position: relative;
}

.card img {
  object-fit: cover;
  height: 100%;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: rgba(0,0,0,0.3);
}

.nav_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #222222;
  height: 100px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main {
  text-align: center;
}

.main span {
  font-size: 10px;
}

.main i {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.extra i {
  font-size: 12px;
}

.nav_bottomleft,
.nav_bottoncenter {
  display: flex;
  gap: 20px;
}

.nav_bottomright span {
color: red;
background-color:#4a4a4a;
padding: 22px;
}